@using Blazor.Themes
@using Blazor.Components.NavBar
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="menu_bar">
        <div class="menu_buttons">
            <NavItem href="" match="NavLinkMatch.All">Home</NavItem>
            <NavItem href="jobs">Jobs</NavItem>
            <NavItem href="games">Games</NavItem>
            <NavItem href="about">About Me</NavItem>
            <NavItem href="contact">Contact</NavItem>
        </div>
        <div class="social_buttons">
            <a class="nav-button" href= "https://github.com/GamesOnAcidzz" target="_blank">
                <i class="fa fa-github"></i>
            </a>
            <a class="nav-button" href= "https://www.instagram.com/just_on_acidzz/" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a class="nav-button" href= "https://www.linkedin.com/in/luis-pereira-993606235/" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
             <a class="nav-button" href= "https://www.youtube.com/GamesOnAcidzz" target="_blank">
                <i class="fa fa-youtube"></i>
            </a>
        </div>
    </div>
</body>
<style>
    body{
        background-color: @Theme.Colors.Highlight;
    }
</style>

           



            


            
            



