@page "/about"
@using Blazor.Components.Buttons
@rendermode InteractiveServer
<PageTitle>About Me</PageTitle>
<div class = "about_text">
    <p>My name is Luis Pedro Lopes de Almeida Pereira and I am a...</p>
    <h3>Android Developer</h3>
    <h3>Game Developer</h3>
    <h3>Web Developer</h3>
</div>
<style>
    .about_text{
        padding: 2%;
        max-width: 300px;
    }
</style>